:root {
	--main-color: #cec9c5;
	--accent-color: #06362c;
	--aside-bg-color: #edf4f2;
	--main-bg: #ffffff;
	--black-color: #000000;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.5em;
}

.site-wrapper {
	display: flex;
	max-width: 1600px;
	margin: 0 auto;
	background-color: var(--main-bg);
	border: 1px solid rgba(0, 0, 0, 0.4);
}

h1,
h2 {
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
}

.sidebar {
	width: 40%;
	padding: 35px 25px 30px;
	background: var(--aside-bg-color);
	color: var(--black-color);
	box-shadow: -5px 0 5px -3px rgb(31 171 196 / 50%),
		5px 0 5px -3px rgb(31 171 196 / 50%);
}

.header__developer-name {
	font-size: 35px;
}

.header__developer-position {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 25px;
}

.about__image-wrap {
	max-width: 350px;
	max-height: 350px;
	margin: 0 auto;
	border-radius: 0 241px 242px 242px;
	overflow: hidden;
	border: 5px solid var(--accent-color);
	box-shadow: 3px 3px 10px rgb(31 171 196 / 25%),
		-3px 3px 10px rgb(31 171 196 / 25%);
	margin-bottom: 30px;
}

.about__image-wrap img {
	transform: scale(1.1);
	object-position: 5px 14px;
}

/* CONTACTS */

.contacts__title,
.section__title {
	line-height: 2em;
	border-bottom: 1px solid var(--main-color);
	margin-bottom: 25px;
	font-size: 30px;
}

.contacts__item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid var(--black-color);
	border-radius: 50%;
	transition: all 0.6s;
}

.contacts__item,
.contact__link,
.contacts__item-text,
.contacts__item-icon svg path,
.header__developer-position a,
.header__developer-name a {
	transition: all 0.6s;
}

.contacts__item {
	margin-bottom: 20px;
}

.contact__link {
	display: flex;
	gap: 15px;
	align-items: center;
	font-size: 25px;
	letter-spacing: normal;
}

.contact__link svg {
	flex-shrink: 0;
}

.contacts__item-text,
.header__developer-name a,
.header__developer-link {
	position: relative;
}

.contacts__item-text::after,
.header__developer-name a::after,
.header__developer-link::after {
	opacity: 0;
	content: '';
	position: absolute;
	display: block;
	width: 1%;
	height: 2px;
	background-color: var(--black-color);
	bottom: -10px;
	right: 50%;
	transition: all ease-in-out 0.6s;
}

.contact__link svg,
.contact__link svg path,
.work-examples__title {
	transition: all 0.6s;
}

/* SKILLS */
.skills__title {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: 700;
}

.skills__item {
	position: relative;
	letter-spacing: normal;
	margin-bottom: 5px;
	padding-left: 30px;
	font-weight: 500;
}

.skills__item::before {
	content: '•';
	position: absolute;
	left: 0;
	color: var(--black-color);
	font-size: 22px;
}

/* MAIN */

.about {
	text-align: justify;
}

.main-content {
	width: 60%;
	padding: 35px 25px 30px;
}

.main-content section {
	margin-bottom: 20px;
}

.section__title {
	text-align: left;
	font-weight: 700;
}

.education__item {
	margin-bottom: 10px;
}

.education__item span {
	display: flex;
	justify-content: space-between;
}

.education__info {
	font-weight: 600;
	font-size: 24px;
}

/* WORK EXPERIENCE */

.experience__list {
	padding-left: 10px;
}

.experience__item {
	position: relative;
	text-align: justify;
	margin-bottom: 15px;
}

.experience__item-title {
	display: flex;
	justify-content: space-between;
	font-weight: 800;
	font-size: 26px;
	margin-bottom: 10px;
}

.work-examples__list {
	padding-left: 20px;
}

.work-examples__item {
	position: relative;
	margin-bottom: 5px;
}

.title-name {
	text-decoration: underline;
}

.work-examples__info {
	padding-left: 20px;
}

.work-examples__info li {
	position: relative;
}

.experience__item:before,
.work-examples__info li:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	top: 15px;
	left: -15px;
	border-radius: 100px;
	background-color: var(--black-color);
}

.work-examples__info li:before {
	width: 6px;
	height: 6px;
}

.work-examples__title,
.education__info a {
	font-weight: 700;
	transition: all 0.5s;
}

@media (hover: hover) {
	.contacts__item:hover .contacts__item-text::after,
	.header__developer-name:hover .header__developer-link::after,
	.header__developer-position:hover .header__developer-link::after {
		width: 100%;
		opacity: 1;
		right: 0%;
	}

	.education__title-wrap:hover .education__icon-wrap,
	.certificates__item:hover {
		box-shadow: 3px 3px 10px rgb(31 171 196 / 25%),
			-3px 3px 10px rgb(31 171 196 / 25%);
	}

	.contacts__item:hover .contact__link svg path {
		fill: var(--accent-color);
	}

	.contacts__item:hover .contact__link,
	.header__nav-item:hover .nav-item__link,
	.header__developer-position:hover a,
	.header__developer-name:hover a {
		color: var(--accent-color);
	}

	.contacts__item:hover .contacts__item-icon {
		border: 1px solid var(--accent-color);
		box-shadow: 0px 1px 4px rgba(142, 222, 236, 0.9),
			0 -1px 4px rgba(142, 222, 236, 0.9);
	}

	.contacts__item-icon:hover svg path {
		fill: var(--accent-color);
	}

	.work-examples__title:hover,
	.education__info a:hover {
		color: var(--accent-color);
	}
}

@media (max-width: 1150px) {
	.sidebar {
		padding: 3vw 2vw;
	}

	.main-content {
		font-size: 2.5vw;
		line-height: 4vw;
	}

	.header__developer-name,
	.experience__item-title {
		font-size: 3vw;
		line-height: 5vw;
	}

	.experience__item-title {
		flex-direction: column;
	}

	.header__developer-position,
	.education__info {
		font-size: 2vw;
		line-height: 4vw;
	}

	.about__image-wrap img {
		object-position: center;
		width: 100%;
		height: 100%;
	}

	.contacts__item,
	.skills__item {
		margin-bottom: 1.7vw;
		font-size: 2vw;
		line-height: 2vw;
		padding-left: 2.3vw;
	}

	.contacts__title,
	.section__title {
		font-size: 3vw;
	}

	.contact__link {
		font-size: 2vw;
		gap: 1.7vw;
		letter-spacing: normal;
	}

	.skills__item::before {
		font-size: 1.8vw;
	}
}

@media (max-width: 900px) {
	.sidebar svg {
		width: 30px;
		height: 30px;
	}

	.contacts__item-icon {
		width: 30px;
		height: 30px;
	}

	.contacts__item-icon svg {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 700px) {
	.site-wrapper {
		flex-direction: column;
	}

	.sidebar,
	.main-content {
		width: 100%;
	}

	.sidebar__skills-wrap {
		display: flex;
		gap: 20px;
		justify-content: space-between;
	}

	.sidebar__contacts {
		width: 48%;
	}

	.sidebar__skills-wrap .sidebar__skills {
		width: 38%;
	}

	.languages .skills__items {
		display: flex;
		justify-content: space-evenly;
	}

	.languages .contacts__title {
		text-align: center;
		margin-bottom: 10px;
	}

	.header__developer-name {
		font-size: 22px;
		line-height: 32px;
	}

	.header__developer-position {
		font-size: 18px;
		line-height: 30px;
	}

	.contacts__item,
	.skills__item {
		font-size: 3vw;
		line-height: 3vw;
	}

	.contacts__title,
	.section__title {
		font-size: 5vw;
	}

	.contact__link {
		font-size: 3vw;
	}

	.about__image-wrap img {
		transform: scale(1.2);
	}

	.sidebar svg {
		width: 25px;
		height: 25px;
	}

	.contacts__item-icon {
		width: 25px;
		height: 25px;
	}

	.contacts__item-icon svg {
		width: 20px;
		height: 20px;
	}

	.main-content {
		padding: 25px 15px;
		font-size: 4vw;
		line-height: 5vw;
	}

	.experience__item-title,
	.education__info {
		font-size: 4vw;
		line-height: 5vw;
	}
}

@media (max-width: 500px) {
	.about__image-wrap {
		min-width: 280px;
		min-height: 280px;
	}

	.sidebar svg {
		width: 20px;
		height: 20px;
	}

	.contacts__item-icon {
		width: 20px;
		height: 20px;
	}

	.contacts__item-icon svg {
		width: 17px;
		height: 17px;
	}
}
